*.ide



PCI_Devices/Getting_PCI_Devices/obj/Debug/

PCI_Devices/Getting_PCI_Devices/bin/Debug/

PCI_Devices/Getting_PCI_Devices/obj/

Battery_Manager/Battery_Manager/obj/Debug/

Battery_Manager/Battery_Manager/bin/Debug/

Getting_USB_Devices/Getting_USB_Devices/obj/

Getting_USB_Devices/Getting_USB_Devices/bin/

Getting_USB_Devices/Getting_USB_Devices/MediaDevices\.chm

Getting_USB_Devices/Getting_USB_Devices/MediaDevicesLicense\.txt