*.ide



PCI_Devices/Getting_PCI_Devices/obj/Debug/

PCI_Devices/Getting_PCI_Devices/bin/Debug/

PCI_Devices/Getting_PCI_Devices/obj/

Battery_Manager/Battery_Manager/obj/Debug/

Battery_Manager/Battery_Manager/bin/Debug/

USB_Devices/Getting_USB_Devices/obj/

USB_Devices/Getting_USB_Devices/bin/

USB_Devices/Getting_USB_Devices/MediaDevices\.chm

USB_Devices/Getting_USB_Devices/MediaDevicesLicense\.txt

Win_Devices/Getting_Win_Devices/bin/Debug/

Win_Devices/Getting_Win_Devices/obj/Debug/