*.ide



PCI_Devices/Getting_PCI_Devices/obj/Debug/

PCI_Devices/Getting_PCI_Devices/bin/Debug/


PCI_Devices/Getting_PCI_Devices/obj/

Battery_Manager/Battery_Manager/obj/Debug/

Battery_Manager/Battery_Manager/bin/Debug/
